.main-forms {
  margin: 10rem 0 5rem 13%;
  font-family: "Inter", sans-serif;
}
@media (max-width: 767.98px) {
  .main-forms {
    margin: 10rem auto;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .main-forms {
    margin: 10rem auto;
  }
}
.main-forms__title {
  font-weight: 700;
  color: #272626;
}
.main-forms__section {
  max-width: 100%;
  padding: 5rem;
}
.main-forms__form {
  border: 1px solid #C4C4C4;
  border-radius: 10px;
}

.header {
  font-family: "Inter", sans-serif;
  background-color: #061B3A;
}
.header__nav {
  padding: 0 2rem;
}
.header__menu-icon {
  color: #FEFEFE;
}
.header .link {
  color: #FEFEFE;
}
.header .link:hover {
  color: #717171;
}

.menu {
  font-family: "Inter", sans-serif;
  height: 100%;
  margin-top: 3.5rem;
  width: 13%;
  background-color: #061B3A;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .menu {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .menu {
    display: none;
  }
}
.menu__item {
  display: flex;
  width: 100%;
}
.menu__a {
  color: #FEFEFE;
  text-decoration: none;
  padding: 12px 2rem;
  font-size: 1em;
  width: 100%;
}
.menu__a:hover {
  background-color: #FFFFFF;
  color: #061B3A;
}

.main {
  margin: 10rem 0 5rem 13%;
  font-family: "Inter", sans-serif;
}
@media (max-width: 767.98px) {
  .main {
    margin: 10rem auto;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .main {
    margin: 10rem auto;
  }
}
.main__section {
  max-width: 100%;
  padding: 5rem;
}
@media (max-width: 767.98px) {
  .main__section {
    padding: 0.5rem;
  }
}
.main__h1 {
  color: #272626;
  font-weight: bold;
}
.main .card {
  overflow: hidden;
  border: 1px solid transparent;
  padding: 0;
}
.main .card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main .card__conteudo {
  border: 1px solid #C4C4C4;
  padding: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: grid;
  grid-template-columns: auto auto;
}
.main .card__name {
  font-weight: bold;
  color: #061B3A;
  font-size: 1.1em;
}
.main .card__birthdate {
  color: #717171;
  justify-self: flex-end;
}
.main .card__title-dados {
  grid-column: span 2;
  margin-bottom: 0.3rem;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.07em;
  color: #272626;
}
.main .card__right {
  justify-self: flex-end;
  color: #717171;
}
.main .card__left {
  color: #717171;
}
.main .card__title-obs {
  font-weight: bold;
  font-size: 1.07em;
  color: #272626;
  justify-self: flex-start;
  margin-top: 1rem;
}
.main .card__obs {
  color: #272626;
  grid-column: span 2;
}
.main .card__button {
  border: 1px solid transparent;
  padding: 10px;
  margin-top: 2rem;
  background-color: #398AB9;
  color: #eeeeee;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 200ms;
  grid-column: span 2;
}
.main .card__button:hover {
  border: 1px solid #398AB9;
  background-color: #fff;
  color: #398AB9;
}

/*# sourceMappingURL=style.css.map */
